@media (min-width: 374px) {
    .background{
        width: 100%;
        background-color: #162B7D;
    }
    .background2{
        height: 500px;
        background-color: #162B7D;
    }
    .img{
        display: block;
        margin: -25px auto 10px;
        width: 100%;
    }
    .tree{
        width: 85%;
    }
}

@media (min-width: 359px) {
    .background{
        width: 100%;
        background-color: #162B7D;
    }
    .img{
        display: block;
        margin: -25px auto 10px;
        width: 100%;
    }
    .background2{
        height: 500px;
        background-color: #162B7D;
    }
    .tree{
        width: 85%;
    }
}

@media (min-width: 279px) {
    .background{
        width: 100%;
        background-color: #162B7D;
    }
    .img{
        display: block;
        margin: -25px auto 10px;
        width: 100%;
    }
    .background2{
        height: 500px;
        background-color: #162B7D;
    }
    .tree{
        width: 85%;
    }
}

@media (min-width: 400px) {
    .background{
        width: 100%;
        background-color: #162B7D;
    }
    .img{
        display: block;
        margin: -25px auto 10px;
        width: 70%;
    }
    .background2{
        height: 600px;
        background-color: #162B7D;
    }
    .tree{
        width: 85%;
    }
}

@media (min-width: 450px) {
    .background{
        width: 100%;
        background-color: #162B7D;
    }
    .img{
        display: block;
        margin: -25px auto 10px;
        width: 70%;
    }
    .background2{
        height: 1200px;
        background-color: #162B7D;
    }
    .tree{
        width: 85%;
    }
}

@media (min-width: 1280px) {
    .background{
        width: 100%;
        background-color: #162B7D;
    }
    .img{
        display: block;
        margin: -25px auto 10px;
        width: 70%;
    }
    .background2{
        height: 1500px;
        background-color: #162B7D;
    }
    .tree{
        width: 85%;
    }
}
@media (min-width: 1300px) {
    .background {
        width: 100%;
        background-color: #162B7D;
    }

    .img {
        display: block;
        margin: -25px auto 10px;
        width: 70%;
    }

    .background2 {
        height: 2000px;
        background-color: #162B7D;
    }

    .tree {
        width: 85%;
    }
}