.inContent {
    overflow: scroll;
    height: 500px;
    border: 1px solid black;
    margin-left: 1%;
    margin-right: 1%;
}

.AppSum{
    margin-top: 25px;
    margin-left: 50px;
    width: 1800px;
    margin-bottom: 100px;
}

#sumNum {
    width: 300px;
    float: left;
}

#sumGrade {
    width: 300px;
    float: left;
}

#sumAble {
    width: 300px;
    float: left;
}

#checkBtn{
    background-color: #E3E3E3;
    border: #E3E3E3;
    color: black;
    height: 30px;
    width: 80px;
    padding-left: 0;
    padding-right: 0;
    font-size: 12px;
    margin-left: 20px;
    border-radius: 1px;
    text-align: center;
    font-weight: bold;
}

#title {
    margin-top: 30px;
    margin-left: 15px;
    font-size: 18px;
    font-weight: bold;
}

#sugangTxt {
    font-size: 25px;
    font-weight: bold;
    margin-left: 25px;
    line-height: 70px;
}

#logoutBtn {
    margin-left: 25px;
    background-color: #E3E3E3;
    border: #686767 1.5px solid;
    color: black;
    height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    line-height: 15px;
    margin-top: 15px;
    margin-bottom: 10px;
    font-weight: bold;
}

#logoutTxt {
    color: indianred;
    margin-left: 25px;
    margin-bottom: 10px;
}