.AppSum{
    margin-top: 30px;
    margin-left: 50px;
}

#sumNum {
    width: 300px;
    float: left;
}

#sumGrade {
    width: 300px;
    float: left;
}

#sumAble {
    width: 300px;
    float: left;
}

#cancelBtn {
    width: 45px;
    height: 25px;
    border: 1px solid lightgray;
    color: black;
    background-color: lightgray;
    font-size: 15px;
    border-radius: 0px;
    padding: 0;
}