.btnFaq {
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    /*JSON의 /n 줄바꿈 처리*/
    vertical-align: bottom;
}

.btn_type {
    background-color: #162B7D !important;
    border: #162B7D !important;
    height: 50px;
    width: 20%;
    margin-right: 2%;
    margin-left: 2%;
    font-size: 1.2vmax !important;
}

.btn_type.btn.btn-primary.clicked {
    background-color: white !important;
    color: #162B7D !important;
    border: #162B7D ridge 2px !important;
    font-weight: bold;
}

#faq_list {
    white-space: pre-line;
    margin-right: 4.5%;
    margin-left: 4.5%;
}

.search {
    margin-left: 15%;
    margin-right: 15%;

}

#searchBar {
    text-align: left;
    border: #162B7D solid 5px;
    width: 100%;
    margin: 30px 3px;
    height: 45px;
}

#searchBtn {
    width: 42px;
    height: 42px;
    margin-top: 30px;
    margin-bottom: 32px;
    margin-left: -48px;
}

#textFAQ {
    background-color: #162B7D;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5vmax; 
    margin-top: -5%;
    padding-bottom: 5%;
}