.btn {
    width: 100%;
    margin-bottom: 10px;
}

body {
    /*JSON의 /n 줄바꿈 처리*/
    white-space: pre-line;  
    vertical-align: bottom;
}

#수강정정 {
    background-color: #162B7D;
    border: #162B7D;
    height: 50px;
    width: 20%;
    margin-right: 2%;
    margin-left: 2%;
}

#수강순위 {
    background-color: #162B7D;
    border: #162B7D;
    height: 50px;
    width: 20%;
    margin-right: 2%;
    margin-left: 2%;
}

#이수학점 {
    background-color: #162B7D;
    border: #162B7D;
    height: 50px;
    width: 20%;
    margin-right: 2%;
    margin-left: 2%;
}

#기타과목 {
    background-color: #162B7D;
    border: #162B7D;
    height: 50px;
    width: 20%;
    margin-right: 2%;
    margin-left: 2%;
}

#faq_list {
    margin-right: 4.5%;
    margin-left: 4.5%;
}

.search {
    margin-left: 15%;
    margin-right: 15%;
    
}

#searchBar {
    text-align: left;
    border: #162B7D solid 5px;
    width: 100%; 
    margin: 30px 3px;
    height: 45px;
}

#searchBtn {
    width: 42px;
    height: 42px;
    margin-top: 30px;
    margin-bottom: 32px;
    margin-left: -48px;
}

.btn.check {
    background-color: #162B7D;
    border: #162B7D;
}

.btn.nonCheck{
    background-color: white;
    color: white;
    border: white;
}
